<footer class="block_border">
  <div class="grid-33 medium-grid-100 small-grid-100">
    <div class="block block_content">
      <a class="twitter-timeline" href="https://twitter.com/Colour_Chaos" data-widget-id="711416722788450304">Tweets by @Colour_Chaos</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

  <div class="grid-33 medium-grid-100 small-grid-100">
    <div class="block block_content">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>{% include icon-github.html username=site.github_username %}</li>
        {% endif %}

        {% if site.twitter_username %}
        <li>{% include icon-twitter.html username=site.twitter_username %}</li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="grid-33 medium-grid-100 small-grid-100">
    <div class="block block_content">
      <h4>Contact</h4>
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
      <img src="/assets/img/logo_icon.png" alt="Logo icon">
    </div>
  </div>
</footer>
