<footer class="block_border">
  <div class="grid-33 medium-grid-100 small-grid-100">
    <div class="block block_content">
      <h4>Social</h4>
      <ul class="social-media-list">
        <li><a href="https://www.linkedin.com/in/colourchaos/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/th3perfectfl4w" target="_blank">Github</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-33 medium-grid-100 small-grid-100">
    <div class="block block_content">
      <h4>Contact</h4>
      <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>
  </div>

  <div class="grid-33 medium-grid-100 small-grid-100">
    <div class="block block_content">
      <img src="/assets/img/logo_icon.png" alt="Logo icon">
    </div>
  </div>
</footer>
