<header id="header-top">

  <div class="grid-50 small-grid-100">
    <section class="block" id="logo">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="/assets/img/logo_horiz.png" alt="logo">
      </a>
    </section>
  </div>

  <div class="grid-50 small-grid-100">
    <nav class="block" id="main-nav">
      <ul>
        <li onmouseover="underlineHome();" onmouseout="underlineNav();">
          <a class="page-link" href="/">Home</a></li>
        <li onmouseover="underlinePortfolio();" onmouseout="underlineNav();">
          <a class="page-link" href="/portfolio">Portfolio</a>
        </li>
        <li onmouseover="underlineBlog();" onmouseout="underlineNav();">
          <a class="page-link" href="/blog">Blog</a>
        </li>
        <li onmouseover="underlineAbout();" onmouseout="underlineNav();">
          <a class="page-link" href="/about">About</a>
        </li>
      </ul>
      <hr id="nav-underline">
    </nav>
  </div>

</header>
